<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/CommentsUpdatePage.css}">
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div class="bg-container">
    <div class="container">
        <div class="heading-container">
            <h1 class="main-heading">Update Comment</h1>
        </div>
        <div class="form-container">
            <form th:action="@{/updateComment{id}(id=${comment.id})}" class="form" method="post">
                <div class="inputs-container">
                    <label for="name">Full name <span class="span">*</span></label>
                    <input id="name" type="text"  class="inputs" placeholder="Please enter your Name" name="name" th:field="*{comment.name}">
                </div>
                <div class="inputs-container">
                    <label for="email">E-mail <span class="span">*</span></label>
                    <input id="email" type="text"  placeholder="Please enter your E-mail" name="email" th:field="*{comment.email}">
                    <p class="example">example@example.com</p>
                </div>
                <div class="inputs-container">
                    <label for="name">Comment <span class="span">*</span></label>
                    <textarea rows="5" cols="30" style="display: block; width: 400px; margin-top: 10px;" name="message" th:field="*{comment.text}">
                        </textarea>
                </div>
                <input type="submit" class="submit-btn">
            </form>
        </div>
    </div>
</div>
</body>
</html>