<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <link href="resources/static/newPost.css" rel="stylesheet" type="text/css" th:href="@{/newPostPage.css}"/>
    <title>New/Edit Post</title>
</head>
<body>
<h1 id="main-heading" th:text="*{heading}"></h1>
<div id="container">
    <div>
            <form action="#" th:action="@{/savePost}" method="post">
                <input type="text" placeholder="Title" name="title" id="title" th:field="*{post.title}"/></br>
                <input type="text" placeholder="Tags" name="name" id="tags" th:value="*{tagsData}"/></br>
                <textarea placeholder="Content" name="content" id="content" th:field="*{post.content}"></textarea></br>
                <span th:if="${buttonName=='Save'}">
                    <input type="submit" class="button" th:value="*{buttonName}">
                </span>
                <span th:if="${buttonName=='Update'}">
                    <button type="submit" formaction="updatePost" class="button">Update</button>
                    <input type="hidden" th:value="*{id}" name="id">
                </span>
                <button type="submit" formaction="publishPost" class="button" formmethod="post">Publish</button>
            </form>
    </div>
</div>
</body>
</html>
